/* ---VARIABLES--- */
/* Setting variables, for example: colours and fonts across the whole site from
just one, easy to manage section. */
:root {
  --color-primary: white;
  --color-shadow: #25252556;
  --color-semi-transparent: rgba(255, 255, 255, 0.087);
  --color-background: black;

  --font-text: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

/* ---CSS RESET--- */
*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
  padding: 0;
  z-index: 0;
}

/* Set root font-size for rem to 62.5% to change the font-size default value to 10px. */
html {
  font-size: 62.5%;
}

body {
  height: 100vh;
  max-height: 100%;
  width: 100vw;
  max-width: 100%;
  scrollbar-width: none;
  overflow-x: hidden;

  /* Set font-size back to it's original 16px by using 1.6rem. */
  font-size: 1.6rem;
}

/* HELPER */
* {
  outline: 1px solid red;
}

body {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex-direction: column;
}

section {
  padding: 2rem 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  padding: 3rem 1rem;
  margin-right: 5rem;
  z-index: 1;
}

.logo {
  display: flex;
}

.logo img {
  min-height: 12rem;
  height: 12rem;
  margin-left: 2rem;
}

.social-icons-top ul {
  display: flex;
  justify-content: flex-end;
  list-style: none;
  gap: 1rem;
  margin-bottom: 2.2rem;
}

.top-links ul {
  display: flex;
  list-style: none;
  gap: 1rem;
  padding-right: 1rem;
}
.top-links ul li a {
  color: black;
  font-size: 2rem;
  text-decoration: none;
}

.hero-image {
  display: flex;
  height: 80vh;
  align-items: center;
  /* text-align: center; */
  color: white;
  padding-bottom: 2rem;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/boys-with-violin.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.hero-text {
    display: flex;
    width: 50%;
    font-size: 3rem;
    margin-left: 1.2rem;
    flex-direction: column;
}
.hero-text button {
    margin-top: 2rem;
    padding: 2rem 4rem;
    font-size: 2rem;
}

.countdown-timer {
   position: absolute;
   top: 35%;
   left: 70%;
   transform: translate(-35% -70%);    
}

.welcome {
    display: flex;
}

.welcome img {
   width: 40%; 
}

.welcome-text {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
}

.welcome-text h2 {
    font-size: 7rem;
}

.welcome-text p {
    max-width: 50%;
    font-size: 2.5rem;
    margin-bottom: 2rem;
}
.welcome-text button {
    padding: 1rem 1.5rem;
}

.our-festival {
    text-align: center;
    background-color: aqua;
    color: white;
}
.our-festival button {
     padding: 1rem 1.5rem;
}

